.create-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  width: 400px !important;
  padding: 1.5rem !important;
  border-radius: 1rem !important;
  background-color: #fff !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
}

.form-group {
  display: flex;
  width: 100%;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-tags {
  width: 100%;
}

.form-check {
  display: flex;
  gap: 0.5rem;
}

.form-check label {
  font-weight: normal !important;
}

.post-info {
  width: 100%;
}

.post-image-preview {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
}

/* Responsive layout changes when viewport is larger than 800px */
@media (min-width: 800px) {
  .form-group {
    flex-direction: row; /* Align items side by side */
    justify-content: space-between; /* Space between the sections */
    width: 100%;
  }

  .create-form {
    min-width: 600px;
  }

  /* Each section (post-info, post-tags) will take up 48% of the width */
  .post-info,
  .post-tags {
    width: 48%;
  }
}
