.register-form {
  width: 800px;
  display: flex;
  flex-direction: row;
}

.register-container {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-image {
  display: none;
}
