body {
  background-color: #eff2f6;
}

.content-body {
  padding: 2rem 6rem;
}

a {
  text-decoration: none !important;
}
.avatar {
  width: 3rem;
  height: 3rem;
}

.container {
  min-height: 60px;
}

.navbar {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: flex;
  align-items: center;
  list-style: none !important;
}

.navbar li a {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
}

.navbar li a:hover {
  background-color: rgb(32, 31, 31);
  color: white;
}

button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  transition: all 0.4s ease;
  align-self: flex-end;
}

button.button-primary {
  border-color: #0d6efd;
  background-color: #0d6efd;
  color: white;
}

button.button-primary:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

label {
  font-size: 1.2rem !important;
  margin-bottom: 0.5rem !important;
  font-weight: bolder !important;
}

input {
  background: transparent;
  box-shadow: none;
  display: block;
  border: none;
  width: 100%;
  outline: none;
  font-size: 1rem;
  padding: 10px 10px;
  z-index: 1;
  border-radius: 0.25rem;
  overflow: hidden;
  border-bottom: 3px solid rebeccapurple;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rebeccapurple inset !important;
  -webkit-text-fill-color: #b6eada !important; /* Text color */
  font-size: 1rem !important;
}

form {
  width: 400px !important;
  display: flex !important;
  flex-direction: column !important;
  padding: 1.5rem !important;
  border-radius: 1rem !important;
  background-color: #fff !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
}
