@model User

<div class="row">
    <div class="col-md-2">
        <div class="bg-white p-2">
            <img src="~/img/@Model.Image" class="img-fluid" alt="">
        </div>
    </div>
    <div class="col-md-10">
        <div class="bg-white p-4">
            <h5>@Model.Name</h5>
            <hr>
            <div id="posts">
                <h5 class="my-4">Yayınlanan Gönderiler</h5>
                <ul class="list-group">
                    @foreach(var post in @Model.Posts){
                        <div class="d-flex justify-content-between align-items-center mx-3">
                            <li style="list-style: none; font-weight: bolder;">@post.Title</li>
                            <div>
                                <button class="button-primary"><a href="/posts/edit/@post.PostId">Edit Page</a></button>
                                <button class="button-secondary"><a href="/blog/@post.Url">Post Page</a></button>
                            </div>
                        </div>
                        <hr>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>