@model BlogApp.Models.PostViewModel

@section styles{
    <link rel="stylesheet" href="~/css/Post/index.css">
}

<div class="post-main-container">
    <div class="content-container">
        <h1 class="align-self-start p-2 mb-4">Popular Posts</h1>
        <div class="post-content">
        @foreach(var post in Model.Posts)
        {
            <div class="post-card">
                <div class="post-image-container">
                    <img src="~/img/@post.Image" alt="">
                </div>  
                <div class="post-body">
                    <h5><a href="/blog/@post.Url" class="post-link">@post.Title</a></h5>
                    <p class="post-desc">@post.Description</p>
                    @foreach (var tag in Model.Tags[Model.Posts.IndexOf(post)])
                    {
                        <span class="tag">@tag.Text</span>
                    }
                </div>
            </div>
        }
        </div>

        <nav>
            <ul class="pagination">
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
            </ul>
        </nav>
    </div>

    <div class="side-content">
        <vc:tags-menu></vc:tags-menu>
        <vc:new-posts></vc:new-posts>
    </div>
</div>


@section scripts{
    <script>
        var posts = @Html.Raw(Json.Serialize(Model));

        console.log(posts);

        posts.forEach(function(post) {
            console.log("Post Title: " + post.title);
            console.log("Post Description: " + post.description);
            post.tags.forEach(function(tag) {
                console.log("Tag: " + tag.text + ", URL: " + tag.url);
            });
        });
    </script>
}